<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
    integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="/css/style.css">
  <title>Starbucks</title>
</head>

<body>
  <section>
    <header>
      <a href=""><img src="/img/logo.png"></a>
      <div class="toggle"></div>
      <ul class="navigation">
        <li><a href="/">Home</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
        <li><span class="themeSwitch"></span></li>
      </ul>
    </header>
    <div class="content">
      <div class="textbox">
        <h2>It's not just Coffee<br>It's <span>Starbucks</span></h2>
        <p>Kopi itu bagai kehidupan, ada pahitnya ada manisnya. Pahitnya kayak congor tetangga, manisnya kayak aku.
          Kopi, Cairan hitam pekat yang pahit. Mirip dengan pahitnya hidup atau pahitnya sindiran mertua. Lelaki itu
          seperti segelas kopi. Mereka kuat, hangat, dan akan senantiasa menjagamu baik siang maupun malam.</p>
        <a href="">Learn More</a>
      </div>
      <div class="imgbox">
        <img src="/img/img1.png" class="img1">
      </div>
    </div>
    <ul class="sci">
      <li><a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
      <li><a href=""><i class="fa fa-instagram" aria-hidden="true"></i></li>
    </ul>
  </section>
  <script>
    let themeSwitch = document.querySelector('.themeSwitch')
    let body = document.querySelector('body')
    themeSwitch.onclick = function () {
      themeSwitch.classList.toggle('active')
      body.classList.toggle('dark')
    }
    let menutoggle = document.querySelector('.toggle')
    let navigation = document.querySelector('.navigation')
    menutoggle.onclick = function () {
      menutoggle.classList.toggle('active')
      navigation.classList.toggle('active')
    }
  </script>
</body>

</html>