<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
    integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="../css/menu.css">
  <title>Menu</title>
</head>

<body>
  <div class="atas">
    <p>.</p>
  </div>
  <section class="induk">
    <header>
      <a href="/menu"><img class="logo" src="../img/logo.png"></a>
      <ul class="navigation">
        <li><a href="/menu">Menu</a></li>
        <li><a href="/tum">Coffee</a></li>
        <li><a href="/admin">Admin</a></li>
        <li><a href="/logout" type="button" class="logout">Logout</a></li>
      </ul>
    </header>
    <div class="parent" style="background-image: url(../img/bg1.jpg);">
      <div class="tiri">
        <div class="image-container">
          <!-- <img class="blur" src="bg1.jpg"> -->
          <div class="child1">
            <h1 class="text1">Hot Americano & Croissant</h1>
            <p class="text2">The secret to making life better.</p>
            <p class="text3">It's true, The perfect cup of coffe and a wholesome, delicious meal or snack can make your
              day. So we make sure everything you choose is of the finest quality. Because really, isn't that how life
              should be?</p>
            <br>
            <a href="/beli" type="button" class="beli">
              <h4>Beli</h4>
            </a>
          </div>
          <div class="child2">
            <img class="bgc1" src="../img/bgc1.jpg" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="parent" style="background-image: url(../img/bg1.jpg);">
    <div class="tiri">
      <div class="image-container">
        <!-- <img class="blur" src="bg1.jpg"> -->
        <div class="child1">
          <h1 class="text1">Delicious, handcrafted beverages and great-tasting food</h1>
          <p class="text2">The secret to making life better.</p>
          <p class="text3">It's true, The perfect cup of coffe and a wholesome, delicious meal or snack can make your
            day. So we make sure everything you choose is of the finest quality. Because really, isn't that how life
            should be?</p>
            <br>
            <a href="/beli" type="button" class="beli">
              <h4>Beli</h4>
            </a>
        </div>
        <div class="child2">
          <img class="bgc1" src="../img/menu1.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
</body>

</html>